/.gwt
/.settings
/gwt-unitCache
/test-classes
/war/WEB-INF/deploy
/war/WEB-INF/lib
/*.classpath
/*.project
/war/remotelogweb
/war/WEB-INF/classes/com
remotelogweb
ProjectLibs
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/ProjectLibs.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/RemoteLogWeb.iml
